<div style="">
	<ion-view hide-nav-bar="true" style="" class="" id="page17" title="">
		<ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
			<!-- <h2 id="signup-heading2" style="color:#000000;font-weight:400;text-align:center;" class=" ">Product Design</h2> -->
			<div ng-show="successMessage" class="success">Form created successfully </div>
			<div ng-show="errorMessage"class="error">There was some problem creating new form</div>
			<form class="list animated bounceIn " name="productDesignForm" class="css-form" novalidate id="signup-form4">
			<fieldset>
			 <legend> Product View</legend>
				<div class="row responsive-sm">
					<div class="col col-30">
						<span class="input-label">Select Category:<span class="assertive">*</span></span>
					</div>
					<div class="col col-60">
						<select  name="selectCategory" required="" ng-model="input.selectCategory"  ng-change="getAllproducts(input.selectCategory)">
							<option ng-repeat="option in categoryOptions" ng-value="option.categoryId">{{option.name}}</option>
						</select>
						<div ng-show="productDesignForm.$submitted || productDesignForm.selectCategory.$touched">
							<div style="color:red;margin:5px;padding:5px;" ng-show="productDesignForm.selectCategory.$error.required">Please select category.</div>
						</div>
					</div>
				</div>
				
				<div class="row responsive-sm">
					<div class="col col-30">
						<span class="input-label">Select Product:<span class="assertive">*</span></span>
					</div>
					<div class="col col-60">
						<select  name="selectProduct" required="" ng-model="input.selectProduct" ng-change="getFormView(input.selectProduct)">
							<option ng-repeat="option in productOptions" ng-value="option.productId">{{option.name}}</option>
						</select>
						<div ng-show="productDesignForm.$submitted || productDesignForm.selectProduct.$touched">
							<div style="color:red;margin:5px;padding:5px;" ng-show="productDesignForm.selectProduct.$error.required">Please select product.</div>
						</div>
					</div>
				</div>
				</fieldset>
				<div style="height: 10px;" class="spacer"></div>
				<ion-list>
						<div ng-repeat="group in groups">
							<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
								<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
								{{group.name}}
							</ion-item>
							<ion-item class="item-accordion" ng-repeat="field in entity" ng-show="isGroupShown(group) && field.groupId === group.groupId">
								<ng-form name="form">
									<!-- TEXT FIELDS -->
									<div ng-if="field.inputType=='text' || field.inputType=='email' || field.inputType=='password'" class="row responsive-sm">
										<div class="col col-30">
											<span class="input-label">{{field.labelName}} <span class="assertive" ng-show="field.mandatory == 'yes'">*</span></span>
										</div>
										<div class="col col-60">
											<input type="{{ field.inputType }}" placeholder="{{field.defaultValue}}"  name="name" />
										</div>
															
									</div>
									<!-- TEXTAREA FIELDS -->
									<div ng-if="field.inputType=='textarea'" class="row responsive-sm">
										<div class="col col-30">
											<span class="input-label">{{field.labelName}} <span class="assertive" ng-show="field.mandatory == 'yes'">*</span></span>
										</div>
										<div class="col col-60">
											<textarea rows="" cols="" placeholder="{{field.defaultValue}}"></textarea>
										</div>
									</div>
									<!-- RADIO FIELDS -->
									<div ng-if="field.inputType=='radio'" class="row responsive-sm">
										<div class="col col-30"> 
											<span class="input-label">{{field.labelName}} <span class="assertive" ng-show="field.mandatory == 'yes'">*</span></span>
										</div>
										<div class="col col-60">
											<div class="checkbox" ng-repeat="option in field.options" >
												<label>                
												<input type="{{ field.inputType}}" data-ng-model="field.data"  name="taskGroup"  id="{{option.keyName}}" value="{{option.keyValue}}">{{option.keyName}}
												</label>
											</div>
										</div>
									</div>
									<!-- CHECKBOX FIELDS -->
									<div ng-if="field.inputType=='checkbox'" class="row responsive-sm">
										<div class="col col-30"> 
											<span class="input-label">{{field.labelName}} <span class="assertive" ng-show="field.mandatory == 'yes'">*</span></span>
										</div>
										<div class="col col-60">
											<div class="checkbox" ng-repeat="option in field.options" >
												<label>
													<input type="checkbox" data-ng-model="option.data"  name="taskGroup"  id="{{option.keyName}}" value="{{option.keyValue}}" >{{option.keyName}}
												</label>
											</div>
										</div>
									</div>
									<!-- SELECTBOX FIELDS -->
									<div ng-if="field.inputType=='select'" class="row responsive-sm">
									<div class="col col-30">
										<span class="input-label">{{field.labelName}} <span class="assertive" ng-show="field.mandatory == 'yes'">*</span></span>
									</div>
									<div class="col col-60">
										<select  data-ng-model="field.data">
										   <option ng-repeat="option in field.options" ng-value="option.keyValue">{{option.keyName}}</option>
										</select>
									</div>
									</div>
								</ng-form>
							</ion-item>
						</div>
					</ion-list>
				<div style="height: 10px;" class="spacer"></div>
				<div class="row" style="margin-bottom: 68%;">
					<div ng-show="entity" class="col text-center">
						<button ng-click="showUnderConstuction()" class="button  button  button-calm">Save Facility</button>
					</div>
				</div>
			</form>
		</ion-content>
	</ion-view>
</div>
