<div style="">
   <ion-view hide-nav-bar="true" style="" class="" id="page17" title="">
      <ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
         <h2 id="signup-heading2" style="color:#000000;font-weight:400;text-align:center;" class=" ">Create New Category</h2>
         <div ng-show="successMessage" class="success">Category created successfully </div>
         <div ng-show="errorMessage"class="error">There was some problem creating new category</div>
         <form class="list animated bounceIn " name="catgoryform" class="css-form" novalidate id="signup-form4" ng-submit="catgoryform.$valid && addCategory(data)">
            <ion-list id="signup-list5" class=" ">
               <label class="item item-input " id="signup-input4" name="name">
               <span class="input-label">Name</span>
               <input type="text" placeholder="Enter name" required=""  name="name" ng-model="data.name">
               </label>
               <div ng-show="catgoryform.$submitted || catgoryform.name.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.name.$error.required">Please enter Name.</div>
               </div>
               <label class="item item-input " id="signup-input7">
               <span class="input-label">Display name</span>
               <input type="text" required=""  name="displayname" ng-model="data.displayname" placeholder="Enter display name">
               </label>
               <div ng-show="catgoryform.$submitted || catgoryform.displayname.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.displayname.$error.required">Please enter Display name.</div>
               </div>
               <label class="item item-input " id="signup-input5" name="orderingDis">
               <span class="input-label">Ordering Display</span>
               <input type="text" required=""  name="orderingDis" ng-model="data.orderingDis" placeholder="Enter sequence order number">
               </label>
               <div ng-show="catgoryform.$submitted || catgoryform.orderingDis.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.orderingDis.$error.required">Please enter Ordering sequence.</div>
               </div>
               <label class="item item-input " id="signup-input8" name="commissionDate">
               <span class="input-label">Commission Date</span>
               <input type="text" required=""  name="commissionDate" ng-model="data.commissionDate" placeholder="Enter commision date">
               </label>
               <div ng-show="catgoryform.$submitted || catgoryform.commissionDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.commissionDate.$error.required">Please enter Commission date.</div>
               </div>
               <label class="item item-input " id="signup-input6" name="sunsetDate">
               <span class="input-label">Sunset Date</span>
               <input type="text" required=""  name="sunsetDate" ng-model="data.sunsetDate" placeholder="Enter sunset date">
               </label>
               <div ng-show="catgoryform.$submitted || catgoryform.sunsetDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.sunsetDate.$error.required">Please enter Sunset date.</div>
               </div>
            </ion-list>
            <div class="row">
               <div class="col text-center">
                  <button class="button  button  button-calm">
                  Submit
                  </button>
               </div>
            </div>
         </form>
      </ion-content>
   </ion-view>
</div>