<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Search for field</h1>
		<button class="button icon icon-left button-icon ion-close-circled flat" ng-click="closeFieldModal()"></button>
	</ion-header-bar>
	<ion-view  style="" class="" id="page17" title="">
		<ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
			<div ng-show="fieldErrorMessage"class="error">There was some problem creating new product</div>
			<div style="height: 20px;" class="spacer"></div>
			<form class="list animated bounceIn " name="fieldSearchForm" class="css-form" novalidate id="signup-form4">
			<fieldset>
			 <legend> Search Field Criteria </legend>
				<div class="row responsive-sm">
					<div class="col">
						<span class="input-label">Field Name:</span>
					</div>
					<div class="col">
						<input type="text" name="fieldName" ng-model="data.fieldName"  placeholder="Enter name">
					</div>
				</div>
				<div class="row responsive-sm">
					<div class="col">
						<span class="input-label">Field Description:</span>
					</div>
					<div class="col">
						<input type="text" name="fieldDesc" ng-model="data.fieldDesc"  placeholder="Enter name">
					</div>
				</div>
				<div class="col text-center">
					<button ng-click="search(data)" class="button icon-left ion-search button-calm">Search</button>
				</div>
				<div style="height: 10px;" class="spacer"></div>
				<div class="row responsive-sm">
					<div class="col">
						<input type="text" name="quickSearch" ng-model="data.quickSearch"  placeholder="Sarch for field name">
					</div>
					<div class="col">
						
					</div>
				</div>
				
				<div class="row header">
		          <div class="col col-20" style="font-weight:500;">Select</div>
		          <div class="col col-20" style="font-weight:500;">Name</div>
		          <div class="col col-20" style="font-weight:500;">Type</div>
		        </div>
		        <div class="row" ng-repeat="oprion in allFields | filter:data.quickSearch">
		          <div class="col col-20"><input type="checkbox" name="selectedFruits[]"  value="{{oprion.name}}" ng-checked="selection.indexOf(oprion.name) > -1" ng-click="toggleSelection(oprion)"></div>
		          <div class="col col-20">{{oprion.name}}</div>
		          <div class="col col-20">{{oprion.inputType}}</div>
		        </div>
				<div class="col text-center">
					<button ng-click="addField()"class="button button-calm icon-left ion-plus">Add Field</button>
				</div>
				</fieldset>
			</form>
			<div style="height: 20px;" class="spacer"></div>
		</ion-content>
	</ion-view>
</ion-modal-view>
