<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Create New Product / Template</h1>
		<button class="button icon icon-left button-icon ion-close-circled flat" ng-click="closeProuctModal()"></button>
	</ion-header-bar>
	<ion-view  style="" class="" id="page17" title="">
		<ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
			<div style="height: 20px;" class="spacer"></div>
			<form class="list animated bounceIn " name="productForm" class="css-form" novalidate id="signup-form4" ng-submit="productForm.$valid && addProduct(data,commissionDate,sunsetDate)">
			<fieldset>
			 <legend> Create Product / Template</legend>
				<ion-list id="signup-list5" class=" ">
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Create Product from template</span>
						</div>
						<div class="col">
							<input type="radio" class="radio" name="WPT" ng-model="data.WPT" ng-value="'yes'" ng-change="newValue('yes',categoryId)"> &nbsp;&nbsp;Yes&nbsp;&nbsp;
							<input type="radio" class="radio" name="WPT" ng-model="data.WPT" ng-value="'no'" ng-change="newValue('no', categoryId">&nbsp;&nbsp;No
						</div>
					</div>
					<div ng-show="data.WPT=='yes'" class="row responsive-sm">
						<div class="col">
							<span class="input-label">Select a template: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<select name="selecttemplate"  ng-model="data.selectTemplate">
								<option ng-repeat="option in productOptions" ng-value="option.productId">{{option.name}}</option>
							</select>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Name: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<input type="text"  required=""  name="name" ng-model="data.name"  placeholder="Enter name">
							<div ng-show="productForm.$submitted || productForm.name.$touched">
								<div style="color:red;margin:5px;padding:5px;" ng-show="productForm.name.$error.required">Please enter Name.</div>
							</div>
						</div>
					</div>
					
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Display name: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<input type="text"  required=""  name="displayname" ng-model="data.displayname" placeholder="Enter display name">
							<div ng-show="productForm.$submitted || productForm.displayname.$touched">
								<div style="color:red;margin:5px;padding:5px;" ng-show="productForm.displayname.$error.required">Please enter Display name.</div>
							</div>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Commission Date: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<label><input type="date" required=""  name="commissionDate" ng-model="commissionDate" placeholder="Enter commission date"></label>
							<div ng-show="productForm.$submitted ||productForm.commissionDate.$touched">
								<div style="color:red;margin:5px;padding:5px;" ng-show="productForm.commissionDate.$error.required">Please enter Commission date.</div>
							</div>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Sunset Date: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<label><input type="date" required=""  name="sunsetDate" ng-model="sunsetDate" placeholder="Enter sunset date"></label>
							<div ng-show="productForm.$submitted || productForm.sunsetDate.$touched">
								<div style="color:red;margin:5px;padding:5px;" ng-show="productForm.sunsetDate.$error.required">Please enter Sunset date.</div>
							</div>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class="col">
							<span class="input-label">Create Product from template: <span class="assertive">*</span></span>
						</div>
						<div class="col">
							<input type="radio" class="radio" name="saveOption" ng-model="data.saveOption" ng-value="'t'">&nbsp;&nbsp;Create only template<br>
							<input type="radio" class="radio" name="saveOption" ng-model="data.saveOption" ng-value="'b'">&nbsp;&nbsp;Save as template and product<br>
							<input type="radio" class="radio" name="saveOption" ng-model="data.saveOption" ng-value="'p'">&nbsp;&nbsp;Save only product<br>
						</div>
					</div>
				</ion-list>
				<div class="row">
					<div class="col text-center">
						<button class="button  button  button-calm">
						Submit
						</button>
					</div>
				</div>
				</fieldset>
			</form>
			<div style="height: 20px;" class="spacer"></div>
		</ion-content>
	</ion-view>
</ion-modal-view>