<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Create New Product</h1>
      <button class="button icon icon-left button-icon ion-close-circled assertive flat" ng-click="closeProuctModal()"></button>
   </ion-header-bar>
   <ion-view  style="" class="" id="page17" title="">
      <ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
         <div ng-show="ProductSuccessMessage" class="success">Product created successfully </div>
         <div ng-show="ProductErrorMessage"class="error">There was some problem creating new product</div>
         <form class="list animated bounceIn " name="productForm" class="css-form" novalidate id="signup-form4" ng-submit="productForm.$valid && addProduct(data)">
            <ion-list id="signup-list5" class=" ">
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Select Category</span>
                  </div>
                  <div class="col">
                     <select  name="selectCategory" required="" ng-model="data.selectCategory">
                        <option ng-repeat="option in categoryOptions" ng-value="option.categoryId">{{option.name}}</option>
                     </select>
                  </div>
               </div>
               <div ng-show="productForm.$submitted || productForm.selectCategory.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="productForm.selectCategory.$error.required">Please select category.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Name</span>
                  </div>
                  <div class="col">
                     <input type="text"  required=""  name="name" ng-model="data.name"  placeholder="Enter name">
                  </div>
               </div>
               <div ng-show="productForm.$submitted || productForm.name.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="productForm.name.$error.required">Please enter Name.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Display name</span>
                  </div>
                  <div class="col">
                     <input type="text"  required=""  name="displayname" ng-model="data.displayname" placeholder="Enter display name">
                  </div>
               </div>
               <div ng-show="productForm.$submitted || productForm.displayname.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="productForm.displayname.$error.required">Please enter Display name.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Commission Date</span>
                  </div>
                  <div class="col">
                     <label><input type="date" required=""  name="commissionDate" ng-model="data.commissionDate" placeholder="Enter commission date"></label>
                  </div>
               </div>
               <div ng-show="productForm.$submitted ||productForm.commissionDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="productForm.commissionDate.$error.required">Please enter Commission date.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Sunset Date</span>
                  </div>
                  <div class="col">
                     <label><input type="date" required=""  name="sunsetDate" ng-model="data.sunsetDate" placeholder="Enter sunset date"></label>
                  </div>
               </div>
               <div ng-show="productForm.$submitted || productForm.sunsetDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="productForm.sunsetDate.$error.required">Please enter Sunset date.</div>
               </div>
            </ion-list>
            <div class="row">
               <div class="col text-center">
                  <button class="button  button  button-calm">
                  Submit
                  </button>
               </div>
            </div>
         </form>
      </ion-content>
   </ion-view>
</ion-modal-view>