<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Create New Category</h1>
      <button class="button-icon ion-close-circled assertive flat" ng-click="closeCategoryModal()"></button>
   </ion-header-bar>
   <ion-view  style="" class="" id="page17" title="">
      <ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding sidepadding">
         <div ng-show="CategorySuccessMessage" class="success">Category created successfully </div>
         <div ng-show="CategoryErrorMessage"class="error">There was some problem creating new category</div>
         <form class="list animated bounceIn " name="catgoryform" class="css-form" novalidate id="signup-form4" ng-submit="catgoryform.$valid && addCategory(data)">
            <ion-list id="signup-list5" class=" ">
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Name</span>
                  </div>
                  <div class="col">
                     <input type="text" placeholder="Enter name" required=""  name="name" ng-model="data.name">
                  </div>
               </div>
               <div ng-show="catgoryform.$submitted || catgoryform.name.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.name.$error.required">Please enter Name.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Display name</span>
                  </div>
                  <div class="col">
                     <input type="text" required=""  name="displayname" ng-model="data.displayname" placeholder="Enter display name">
                  </div>
               </div>
               <div ng-show="catgoryform.$submitted || catgoryform.displayname.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.displayname.$error.required">Please enter Display name.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Ordering Display</span>
                  </div>
                  <div class="col">
                     <input type="text" required=""  name="orderingDis" ng-model="data.orderingDis" placeholder="Enter sequence order">
                  </div>
               </div>
               <div ng-show="catgoryform.$submitted || catgoryform.orderingDis.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.orderingDis.$error.required">Please enter Ordering sequence.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Commission Date</span>
                  </div>
                  <div class="col">
                     <label><input type="date" required=""  name="commissionDate" ng-model="data.commissionDate" placeholder="Enter commision date"></label>
                  </div>
               </div>
               <div ng-show="catgoryform.$submitted || catgoryform.commissionDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.commissionDate.$error.required">Please enter Commission date.</div>
               </div>
               <div class="row responsive-sm">
                  <div class="col">
                     <span class="input-label">Sunset Date</span>
                  </div>
                  <div class="col">
                     <label><input type="date" required=""  name="sunsetDate" ng-model="data.sunsetDate" placeholder="Enter sunset date"></label>
                  </div>
               </div>
               <div ng-show="catgoryform.$submitted || catgoryform.sunsetDate.$touched">
                  <div style="color:red;margin:5px;padding:5px;" ng-show="catgoryform.sunsetDate.$error.required">Please enter Sunset date.</div>
               </div>
            </ion-list>
            <div class="row">
               <div class="col text-center">
                  <button class="button  button  button-calm">
                  Submit
                  </button>
               </div>
            </div>
         </form>
      </ion-content>
   </ion-view>
</ion-modal-view>